<ul>
  <li><strong>{{_('Research. Shared.')}}</strong> &mdash; {{_('all research outputs from across all domains of INFN research are welcome!')}}</li>
  <li><strong>{{_('Findable. Citeable. Discoverable.')}}</strong> &mdash; {{_('each upload gets a Digital Object Identifier (DOI) to make it easily and uniquely citeable. You can (automatically) link your research outputs to your ORCID profile.')}}</li>
  <li><strong>{{_('Communities')}}</strong> &mdash; {{_('create and curate your own community for a workshop, project, Division. Laboratory, service, journal, etc. into which you can accept or reject uploads.')}}</li>
  <li><strong>{{_('Funding')}}</strong> &mdash; {{_('you can associate an upload to the grant that has funded the work.')}}</li>
  <li><strong>{{_('Flexible licensing')}}</strong> &mdash; {{_('you can choose among several licenses. You can also upload closed or embargoed research outputs.')}}</li>
</ul>
<p>{% trans link='/features' %}Read more about the INFN Open Access Repository and its <a href="{{link}}">features</a>.{% endtrans %}</p>
